.SplitPane {
    width: 100%;
    height: 100vh;
    position: relative;
    transition:"all 0.5s";
  }  
.splitpane-left {
    float: left;
    color: aliceblue;
    position: fixed;
    top: 0px;
    bottom: 0px;
    transition:"all 0.5s"; 
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    padding: 5px;  
    background-color:rgb(11,52,65);
    width: 15%;
  }
.splitpane-right{    
  background-color:rgb(255,255,255);
  display: flex;
  float: right;
  flex-direction: column;
  transition:"all 0.5s";
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  padding: 0; 
  width:85%; 
  }
  
  .top-nav {   
    position: fixed;
    z-index: 1010;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 70px;
    border-top: 1px solid rgb(223, 223, 223);
    border-bottom: 1px solid rgb(223, 223, 223);
      /* box-shadow: -3px 10px 1000px rgb(189, 238, 189); */
    padding: 0px;
    top: 0;
    left: 210.39px;
    background-color: #000;
    color: #6f34fe;
    font-size: 25px;
     display: none;
  }
.top-nav span{
  font-size: 16px;
  padding: 15px;
}
@media screen and (max-width:430px){
  .SplitPane {
    width: 100%;
    margin-left:100px;
    display: block;
    margin-left: 0;
  }
  .splitpane-left{
    display: none;
  }
  .splitpane-right{
    left: 0;
    overflow:hidden;
    width: 100%;
  }
}
@media screen and (min-width:430px) and  (max-width:768px){
  .SplitPane {
    width: 100%;
    height: 100%;
    padding:0;
    display: block;
    margin-left: 0;
  }
  .splitpane-left{
    display: none;
    width: 0px;
  }
  .splitpane-right{
    height: 100%;
    width: 100%;
  }

}
@media screen and (min-width:769px) and (max-width: 1024px) {
  .SplitPane {
    margin-left: 0 !important;
    width: 100%;
  }
  .splitpane-left{
    display: none;
  }
  .splitpane-right {
    width: 100%;
  }
}
@media screen and (min-width:1025px) and (max-width: 1440px) {
  .splitpane-left{
    height: 100%; 
  }
  .splitpane-right{
  
  }
}