@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500&family=Lato&family=Merriweather+Sans:wght@400;500&family=Montserrat:wght@500&family=Playfair+Display:wght@500&family=Roboto:wght@400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html, body, #root {
width: 100%;
height: 100%;
min-width: 1024px;
font-family: 'Finlandica', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
background: floralwhite;
margin: 0;
color: rgba(0,0,0,.85);
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
font-variant: tabular-nums;
line-height: 1.5715;
}
/* :root {    
  background-color:rgb(237,28,3);
  background-color:rgb(0,136,203);
  background-color:rgb( 255,203,5);
  background-color:rgb(255,255,255);
  background: rgb(238, 238, 238);
  background-color:rgb(114,114,114);
  background-color:rgb(176,176,176);
  background-color:rgb(232,230,230);
  background-color:rgb(110,110,110);
  background-color:rgb(199,199,199);
  background-color:rgb(6);
  background-color:rgb(0,0,0);
  background-color:rgb(162,219,234);      
  background-color:rgb(194,222,217);
  background-color:rgb(157,188,183);  
  background-color:rgb(177,213,224);
  background-color:rgb(139,180,193);
  background-color:rgb(94,145,161);
  background-color:rgb(114,192,213);
  background-color:rgb(14,154,192);
  background-color:rgb(117,155,148);
  background-color:rgb( 62,121,111);
  background-color:rgb(9,103,128);
  background-color:rgb(22,104,130);
  background-color:rgb(31,60,55);     
  background-color:rgb( 5,51,64);
  background-color:rgb(11,52,65);    
  background-color:rgb(238,231,233);
  background-color:rgb(190,185,186);
  background-color:rgb(143,139,140);
  background-color:rgb(95,92,93);
  background-color:rgb(48,46,47);
  background: floralwhite;   
  background-color: rgba(59,130,246,.5);
  background-color: rgb(7 59 93);
  background-color: #2a8176;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
    font-size: 17px;
    padding: 10px;
    border-radius: 20px;
    background: #fca61f;
    color: #fff;
    display: inline-block;
    border-radius: 35px;
    line-height: 1.5rem;
    box-shadow: 0 0 85px 0 #e9eefc;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.btn:hover{
  background-color: #6f34fe;
}
.title{
    font-size: 32px;
    font-weight: 700;
    color:purple;
    color: #6f34fe;
    color:rgb(11,52,65); 
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
}
.sub-heading{
  font-size: 20px;
  color: #3f396d;
  color: #6f34fe;
  color:rgb(48,46,47);  
}
.underline-border{
  width: 100px;
  height: 3px;
  background:#fca61f;
  margin: 20px auto;
}
  